<app-nav></app-nav>
<div class="login">
  <form [formGroup]="login" (ngSubmit)="onClick_login()">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <p mat-card-content>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com"
            autocomplete="off" />
          <mat-error [ngClass]="
              login.controls.email.hasError('Email') &&
              !login.controls.email.hasError('required')
            ">
            Please enter a valid email address
          </mat-error>
          <mat-error [ngClass]="login.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password"  matInput formControlName="password" placeholder="Ex. pat@example.com" />
          <mat-error class="col" [ngClass]="login.controls.password.hasError('required') && !login.controls.password.hasError('minlength')">
           {{ login.controls.hasError('required') &&
              login.controls.password.hasError('minlength') ? 'cancel' :
              'check_circle' }}
            Must be at least 8 characters!
          </mat-error>
          <mat-error class="col" [ngClass]="login.controls.password.hasError('required') && login.controls.password.hasError('hasNumber')">
            {{ login.controls.password.hasError('required') &&
              login.controls.password.hasError('hasNumber') }}
            Must contain at least 1 number!
          </mat-error>
          <mat-error class="col" [ngClass]="login.controls.password.hasError('required') && login.controls.password.hasError('hasCapitalCase')">
          {{ login.controls.hasError('required') &&
              login.controls.password.hasError('hasCapitalCase') }}
            Must contain at least 1 in Capital Case!
          </mat-error>
          <mat-error class="col" [ngClass]="login.controls.password.hasError('required') && login.controls.password.hasError('hasSmallCase')">
            {{ login.controls.password.hasError('required') &&
              login.controls.hasError('hasSmallCase')}}
            Must contain at least 1 Letter in Small Case!
          </mat-error>
          <mat-error class="col" [ngClass]="login.controls.password.hasError('required') && login.controls.password.hasError('hasSpecialCharacters')">
            {{ login.controls.password.hasError('required') &&
              login.controls.password.hasError('hasSpecialCharacters') }}
            Must contain at least 1 Special Character!
          </mat-error>
        </mat-form-field>
      </p>
      <mat-card-actions>
        <button type="submit" (click)="onClick_login()" mat-flat-button color="primary">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

