

mat-card{
  top: 0px;
  width: 400px;
  height: 400px;
  display: grid;
  place-items: center;
  border: 1px solid  rgb(102, 233, 62);
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
}

.login{
  height: 90%;
  width: 100%;
  display: grid;
  place-items: center;
  padding-top:5vmax;
  background-color: rgb(214, 209, 209);

}
.example-full-width{
  width: 300px;
}
mat-label{
  font-size: 15px;
  color: black;
}
input{
  background:none;
}
mat-card-title{
  font-size: 30px;
  color: rgb(0, 223, 86);
}
button{
  font-size: 15px;
}
